---
import Layout from "../layouts/page.astro";
---

<Layout title="Imprint">
   <h1>Impressum</h1>
   Jason Lee Bärwald<br>
   Duhorn 1<br>
   25596 Wacken<br>
   Deutschland<br>
   <br><br>
   Telefon: +49 (0)176 – 59123186<br>
   Website: www.jasonb.de<br>
   E-Mail: me@jasonb.de<br>
   <br><br>
   <b>Technische Angaben</b><br>
   Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.<br>
   Alle hier verwendeten Namen, Begriffe, Zeichen und Grafiken können Marken- oder Warenzeichen im Besitze ihrer rechtlichen Eigentümer sein. Die Rechte aller erwähnten und benutzten Marken- und Warenzeichen liegen ausschließlich bei deren Besitzern.<p></p>
    <br>
    <footer class="center">
        <p><a style="font-size: 1.3rem" href="/">&larr; Back</a></p>
    </footer>
</Layout>
