---
import Layout from "../layouts/page.astro";
import Icon from "astro-icon";
import Socials from "../components/socials.astro";
import Work from "../components/work.astro";
import Cakeday from "../components/cakeday.astro";
---

<Layout title="Jason Lee Bärwald">
    <div class="center">

        <img src="/avatar.png" alt="Avatar" class="avatar" />

        <h1>Jason Lee Bärwald</h1>

        <div class="pronouns">
            he/him
        </div>

        <div class="location">
            <Icon name="fa:map-marker" style="vertical-align:baseline;" /> Wacken, Germany
        </div>

        <Cakeday />

        <Work />
    </div>

    <Socials />
</Layout>