---
import Layout from "../layouts/page.astro";
import Icon from "astro-icon";
---

<Layout title="Empfehlungen">
    <h1>Empfehlungen</h1>
    <p>Ich habe hier eine Liste von Dingen zusammengestellt, die ich empfehlen kann.</p>
    <p>Kostenlose Girokonten</p>
    <p>BBBank für < 30 <a href="https://onlineprozesse.bbbank.de/op/pd/bbbank_kwk_neukunden/0?werberid=786508456">Hier (*)</a> KOSTENLOS eröffnen und bis zu 150€ Startprämie sichern.</p>
    <br>
    <p>Andere Empfehlungen</p>
    <p><a href="https://www.shoop.de/invite/zcs1nzWERE/">Shoop (*)</a> 10€ Geschenkt <br><small>Wenn innerhalb von 7 Tagen ein Einkauf von 10€ erfasst wurde</small></p>
    <p><a href="https://www.spartanien.de/?u=116781">Spartanien (*)</a> <br><small>Ein Cashback Anbieter, wo du für verschiedenste Sachen Cashback bequem in Gutscheinen ausgezahlt bekommst</small></p>
    <br>
    <footer class="center">
        Alle mit Stern (*) markierten Links sind Affiliate-Links. Verwendest Du diesen Link & schließt z.B. einen Vertrag ab oder kaufst etwas, erhalte ich eine Provision vom Anbieter. Für Dich entstehen keine Nachteile beim Kauf, Vertrag oder Preis.
        <p><a style="font-size: 1.3rem" href="/">&larr; Back</a></p>
    </footer>
</Layout>
