<div id="cakeday">
    <h2><span id="birthday">My Birthday is in...</span></h2>
    <p id="cakeday-countdown"></p>
    <span id="birthdayDate">on the 20.02.</span>
</div>
<script src="../ts/cakeday.ts"></script>
<script is:inline>"/jquery.countdown.min.js"</script>