---
import { Icon } from 'astro-icon/components';
import social from "../json/socials.json";
---

<div class="socials">
  {social.map((e) => (
    <Icon name={`mdi:${e.icon.name}`} />  <a href={e.url} class="social" target="_blank" rel="noopener me" set:text={e.text}></a><br>
  ))}
</div>

<style>
    .fa-matrix-org,
    .fa-xmpp,
    .fa-peertube {
      font-family: ForkAwesome !important;
    }
</style>