---
import { Icon } from 'astro-icon/components';
import social from "../json/socials.json";
---

<div class="socials">
  {social.map((e) => (
    <div>
      <Icon name={`mdi:${e.icon.name}`} />
      <a href={e.url} class="social" target="_blank" rel="noopener me">
        <span class="text" set:html={e.text}></span>
      </a>
      <br />
    </div>
  ))}
</div>


<style>
    .fa-matrix-org,
    .fa-xmpp,
    .fa-peertube {
      font-family: ForkAwesome !important;
    }
</style>